<div id="<%= dom_id rag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= rag.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= rag.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= rag.rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= rag.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= rag.size %>
  </p>

</div>
